/*
 * Custom CSS
 */

:root {
  --bs-body-bg: var(--bs-gray-100);
}

#hero {
  background: linear-gradient(95deg, #4191ee 30%, #56c6ba 100%);
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 0;
}

@media (max-width: 991px) {
  #hero {
    min-height: 600px;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.card-img-top {
  object-fit: cover;
  height: 240px;
}

.section {
  scroll-margin-top: 75px;
}
/* Optional: Slight shadow effect for forms and cards */
.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.08)!important;
}